/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}


/* 
 font-family: "komet", sans-serif;
 font-weight: 900;
 font-style: normal;
 font-size: 1.5em;
 color: var(--color-htext2);
 */

/* 
font-family: "century-gothic", sans-serif;
font-weight: 700;
font-style: normal;
font-size: .85em;
 */


/* 
 font-family: "century-gothic", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: .75em;
 */


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* -----text------ */
    --color-htext1: #66E512;
    --color-htext2: #B8F3FF;
    --color-broodtext: #8AC6D0;
    --color-alttext: #204E4B;
    --color-footertext: #BEBEBE;
    --color-codetext: #FFF5BF;

    /* -----backgrounds------ */
    --color-background1: #0A2A2F;
    --color-background2: #071E22;
    --color-background-tonik: #57A4B1;
    --color-background-lockin: #F41746;
    --color-background-catan: #FFAF25;

    --color-background-codetag: rgba(0, 0, 0, 0.3);
    --color-background-radialbutton: rgba(165, 243, 255, 0.1);
    --color-background-radialbutton-active: rgba(255, 255, 255, 0.3);

    --color-line: #1B393E;

    /* -----fill------ */
    --color-fill1: #B8F3FF;

    /* -----animation----- */

}


/***************/
/* GENERAL CSS */
/***************/

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h2 {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: var(--color-htext2);
}

p {
    letter-spacing: .3px;
    line-height: 1.5em;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

code {
    background-color: var(--color-background-codetag);
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px 3px;
    color: var(--color-codetext);
}

.line {
    border: none;
    height: 2px;
    background-color: var(--color-line);
    margin: .5em 0;
}


/* utility classes */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-gone {
    display: none;
}

body.scroll-lock {
    overflow: hidden;
}

.contact-line {
    display: block;
}


@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

/**************/
/* HEADER CSS */
/**************/

header {
    position: sticky;
    top: 0;
    z-index: 130;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background: linear-gradient(to bottom, rgba(7, 30, 34, 1), rgba(7, 30, 34, 0));
}

header a {
    z-index: 130;
    position: relative;
}

header a p {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: var(--color-htext2);
}

header nav {
    background-color: var(--color-background2);
    position: fixed;
    inset: 0;
    translate: 100% 0;
    transition: .5s;
    z-index: 120;
}

header nav.open {
    translate: 0 0;
}

header nav ul {
    text-align: right;
    position: fixed;
    right: 1.5em;
    bottom: 6.5em;
}

header nav ul li {
    padding: .5em 0;
}

header nav a {
    text-decoration: none;
    color: var(--color-navtext);
    font-size: 1.3em;
    line-height: 2.6;
    font-family: "century-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-fill1);
}

.hamburger {
    position: relative;
}

.hamburger-toggle {
    position: absolute;
    right: 0;
    top: 49%;
    transform: translate(0, -50%);
    height: 26px;
    width: 29px;
    color: var(--color-fill1);
}

.hamburger-toggle:hover {
    color: var(--color-fill1);
}

.hamburger-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-fill1);
    transition: all 0.3s ease;
}

.hamburger-toggle-bar--top {
    transform: translate(0, -8px);
}

.hamburger-toggle-bar--bottom {
    transform: translate(0, 8px);
}

.nav-open .hamburger-toggle-bar--top {
    transform: translate(0, 0) rotate(45deg);
}

.nav-open .hamburger-toggle-bar--middle {
    opacity: 0;
}

.nav-open .hamburger-toggle-bar--bottom {
    transform: translate(0, 0) rotate(-45deg);
}

/**************/
/* FOOTER CSS */
/**************/

footer {
    display: flex;
    background-color: #1A1A1A;
    justify-content: space-between;
    padding: 1em 1.5em;
    align-items: center;
}

footer p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7em;
    color: var(--color-footertext);
}

footer nav {
    display: flex;
    gap: 1em;
}

footer nav img {
    height: 17px;
    width: auto;
}


/*************************************************************
==========================desktop=============================
*************************************************************/


@media (min-width: 700px) {

    h2 {
        font-size: clamp(1.6em, 4vw, 2.4em);
    }

    h3 {
        font-size: clamp(.85em, 1.7vw, 1.2em);
    }

    p {
        font-size: clamp(.3em, 1.3vw, 1em);
    }

    a {
        font-size: clamp(.3em, 1.3vw, 1em);
    }

    header {
        padding: 1em 6em;
        align-items: center;
    }

    header .hamburger {
        display: none;
    }

    header nav {
        position: static;
        translate: 0 0;
        background-color: transparent;
        transition: none;
    }

    header a p {
        font-size: clamp(1.6em, 4vw, 2.4em);
    }


    header nav ul {
        position: static;
        display: flex;
        gap: .5em
    }

    header nav a {
        color: var(--color-htext2);
        font-family: "century-gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: clamp(.8em, 1vw, 1em);
        border: solid transparent;
        padding: 1em 1.7em;
        border-radius: 2.5em;
        background-color: transparent;
    }

    header nav a:hover {
        border: solid;
        border-color: var(--color-htext2);
        background-color: transparent;
        color: var(--color-htext2);
    }


    /* footer */

    footer {
        padding: 1.5em 6em;
        align-items: center;
    }
}


/*************************************************************
==========================BIGGER=============================
*************************************************************/

@media (min-width: 1650px) {

    /* header */

    header {
        padding: 1em 13em;
    }


    /* footer */

    footer {
        padding: 1.5em 13em;
    }
}