/* banner css */

main>div:nth-of-type(1) {
    position: relative;
    background-color: var(--color-background2);
}

main>div:nth-of-type(1) section {
    position: absolute;
    bottom: 1.5em;
    padding: 0 0 0 1.5em;
}

main>div:nth-of-type(1) section h1 {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.6em;
    line-height: 1em;
    color: var(--color-htext2);
}

main>div:nth-of-type(1) section h2 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    line-height: 1.25em;
    color: var(--color-broodtext);
    max-width: 15em;
    padding: .5em 0 0 0;
}

main>div:nth-of-type(1) img {
    margin-top: -70px;
    height: auto;
    width: 100%;
    display: block;
}


/* my work */

.main2 {
    background-color: var(--color-background1);
}


.main2>h2 {
    padding-left: 1em;
}

.main2 .line {
    border: none;
    height: 2px;
    background-color: var(--color-line);
    margin: 10px 1.5em 20px;
}

.main2>ul:nth-of-type(1) li {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
}

.main2>ul:nth-of-type(1) li h3:nth-of-type(1) {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-alttext);
    padding-top: 20px;
}

.main2>ul:nth-of-type(1) li h3:nth-of-type(2) {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-htext2);
    padding-top: 8px;
}

.main2>ul:nth-of-type(1) li p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7em;
    color: var(--color-broodtext);
    padding-top: 8px;
}

.main2>ul:nth-of-type(1) li a {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-htext2);
    border: solid;
    padding: .7em 0;
    margin: 2.5em 0 4em;
    display: block;
    text-align: center;
}

.main2>ul:nth-of-type(1) li img {
    width: 100%;
    height: auto;
    order: -1;
}

/* infinite slider */

.main2 .scroller {
    max-width: 100%;
    background-color: var(--color-htext1);
    overflow: hidden;
}

.main2 .scroller ul {
    display: flex;
    width: fit-content;
    padding: .5em 0;
    gap: .7em;
    align-items: center;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.4em));
    }
}

.main2 .scroller ul li {
    width: fit-content;
    height: auto;
}

.main2 .scroller ul li p {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1em;
    color: var(--color-background1);
    white-space: nowrap;
}

.main2 .scroller ul li img {
    width: 16px;
    height: 16px;
    display: block;
}


/* about me */

.main2 .about-me {
    background-color: var(--color-background2);
}


.main2 .about-me section {
    position: absolute;
    padding: 0 1.5em;
}

.main2 .about-me section h2 {
    padding-left: 0;
}

.main2 .about-me section h3 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-htext2);
    padding-top: 8px;
}

.main2 .about-me section p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7em;
    color: var(--color-broodtext);
    padding-top: 8px;
}

.main2 .about-me section>img {
    width: 100%;
    height: auto;
}

.main2 .about-me>img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}


/* contact */

.contact {
    padding: 1.5em;
}

.contact > div {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--color-background2);
  }

.contact h2 {
    padding-top: 0;
}

.contact h3 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-htext2);
    padding-top: 8px;
}

.contact div .hallo {
    display: flex;
    justify-content: space-between;
}

.contact div .hallo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8em;
    color: var(--color-broodtext);
    border: solid var(--color-broodtext) 2px;
    width: 140px;
    height: 40px;
    gap: 10px;
}

.contact div div a:nth-of-type(1) img {
    height: 17px;
    width: auto;
}

.contact div div a:nth-of-type(2) img {
    height: 20px;
    width: auto;
}