main {
    background-color: var(--color-background2);
}

main>img:nth-of-type(1) {
    width: 100%;
    height: auto;
    margin-top: -70px;
    display: block;
}

main>img:nth-of-type(2) {
    display: none;
}

.con {
    position: relative;
}

.lockin-float {
    position: absolute;
    width: 100%;
    top: -15em;
    padding: 1.5em;
}

.lockin-float>section {
    background-color: var(--color-background1);
    padding: 1.5em 1.5em 3em;
}

.lockin-float>section h1 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: var(--color-alttext);
}

.lockin-float>section div {
    gap: 3em;
}

.lockin-float>section div section h3 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-htext2);
    padding: 1.5em 0 .5em;
}

.lockin-float>section div section p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: var(--color-broodtext);
}


/* CONCEPT */

.con>section:nth-of-type(1) {
    background-color: var(--color-background-lockin);
    padding: 18em 1.5em 0;
    display: flex;
    flex-direction: column;
}

.con>section:nth-of-type(1) div:nth-of-type(1) {
    flex-direction: column;
    display: flex;
}

.con>section:nth-of-type(1) div:nth-of-type(1) h2 {
    color: white;
}

.con>section:nth-of-type(1) div:nth-of-type(1) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.con>section:nth-of-type(1) div:nth-of-type(2) {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 100%;
    margin: 3em 0;
    margin-left: -30px;
}

.con>section:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(1) {
    width: 60%;
    object-fit: contain;
}

.con>section:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(2) {
    width: 40%;
    object-fit: contain;
}


/* USER JOURNEY */

.timeline-right>section:nth-of-type(1) {
    padding: 4em 1.5em 2em;
}

.timeline-right>section:nth-of-type(1) h2 {
    color: white;
}

.timeline-right>section:nth-of-type(1) img {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}


/* USER REQUIREMENTS */

.timeline-right>section:nth-of-type(2) {
    padding: 2em 1.5em 2em;
}

.timeline-right>section:nth-of-type(2) h2 {
    color: white;
}

.timeline-right>section:nth-of-type(2)>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.timeline-right>section:nth-of-type(2)>div div {
    padding: 1em;
    border-radius: .5em;
}

.timeline-right>section:nth-of-type(2)>div div h3 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-htext2);
    padding-bottom: .2em;
}

.timeline-right>section:nth-of-type(2)>div div p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: var(--color-broodtext);
}


.timeline-right>section:nth-of-type(2)>div div:nth-of-type(1),
.timeline-right>section:nth-of-type(2)>div div:nth-of-type(2),
.timeline-right>section:nth-of-type(2)>div div:nth-of-type(3) {
    background-color: #0A2A2F;
}

.timeline-right>section:nth-of-type(2)>div div:nth-of-type(4) {
    background-color: #082428;
}

.timeline-right>section:nth-of-type(2)>div div:nth-of-type(5) {
    background-color: #072125;
}


/* WIREFRAMES + WIREFLOW */

.timeline-right>section:nth-of-type(3) {
    padding: 2em 1.5em 2em;
}

.timeline-right>section:nth-of-type(3) h2 {
    padding-bottom: .3em;
    color: white;
}

.timeline-right>section:nth-of-type(3) p {
    color: white;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
}

.timeline-right>section:nth-of-type(3) img:nth-of-type(1) {
    width: 100%;
    height: auto;
    padding: 1.5em 0;
}

.timeline-right>section:nth-of-type(3) img:nth-of-type(2) {
    display: none;
}


/* FINAL PRODUCT */

.timeline-right>img:nth-of-type(1) {
    width: 100%;
    height: auto;
}

.timeline-right>img:nth-of-type(2) {
    display: none;
}

.timeline-right>section:nth-of-type(4) {
    padding: 2em 1.5em 2em;
    margin-top: -100px;
}

.timeline-right>section:nth-of-type(4) h2 {
    color: white;
}

.timeline-right>section:nth-of-type(4) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 2em;
}


/* MOCKUPS */

main>img:nth-of-type(3) {
    width: 100%;
    height: auto;
    display: block;
}

main>div:nth-of-type(2) {
    display: flex;
}

main>div:nth-of-type(2) img {
    width: 50%;
    height: auto;
    display: block;
}

/* GENERAL */

.line {
    display: none;
}

.timeline-left {
    display: none;
}

/*************************************************************
==========================desktop=============================
*************************************************************/


@media (min-width: 700px) {

    .timeline {
        position: relative;
    }

    .timeline-left {
        position: absolute;
        height: 86%;
        top: 0;
        border-left: 3px solid transparent;
        border-image: repeating-linear-gradient(to bottom,
                white 0,
                white 5px,
                transparent 3px,
                transparent 12px) 1;
        margin: 17.8em 0 0 6em;
        display: block;
    }

    .research {
        /* height: 91.5em; */
        height: 49%;
        text-align: center;
    }


    .me-fi {
        /* height: 47.5em; */
        height: 25.5%;
        text-align: center;
    }

    .hi-fi {
        /* height: 48em; */
        height: 25.5%;
        text-align: center;
    }

    .timeline-left div>div {
        position: sticky;
        top: 6em;
    }

    .timeline-left div>div p {
        font-family: "century-gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        border: solid 3px white;
        padding: 1em 1.5em;
        color: white;
        margin-left: -3px;
    }



    /* float */

    main>img:nth-of-type(1) {
        display: none;
    }

    main>img:nth-of-type(2) {
        width: 100%;
        height: auto;
        margin-top: -90px;
        display: block;
    }

    .lockin-float {
        position: absolute;
        min-width: 100%;
        padding: 6em;
        top: -19em;
    }

    .lockin-float>section {
        padding: 3em 6em 6em;
    }

    .lockin-float>section div {
        display: flex;
    }

    .lockin-float>section h1 {
        font-size: clamp(1em, 1.7vw, 1em);
    }

    .lockin-float>section h2 {
        font-size: clamp(1.6em, 4vw, 2.4em);
    }

    .lockin-float>section div section h3 {
        font-size: clamp(.85em, 1.7vw, 1.2em);
    }

    .lockin-float>section div section p {
        font-size: clamp(.3em, 1.3vw, 1em);
    }


    /* concept */

    .con>section:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        padding: 18em 6em 0 18em;
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) h2 {
        font-size: 2.4em;
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) p {
        font-size: 1em;
        padding-bottom: 2em;
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) {
        max-width: 50%;
    }

    .con>section:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(1) {
        max-height: 20em;
    }

    .con>section:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(2) {
        max-height: 13em;
    }


    /* user journey */

    .timeline-right>section:nth-of-type(1) {
        padding: 4em 6em 0 18em;
    }

    .timeline-right>section:nth-of-type(1) h2 {
        font-size: 2.4em;
        color: white;
    }


    /* user requirements */

    .timeline-right>section:nth-of-type(2) {
        padding: 4em 6em 0 18em;
    }

    .timeline-right>section:nth-of-type(2) h2 {
        font-size: 2.4em;
        color: white;
    }

    .timeline-right>section:nth-of-type(2)>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    .timeline-right>section:nth-of-type(2)>div div p {
        padding-bottom: 1em;
    }

    /* wireframes & wireflow */

    .timeline-right>section:nth-of-type(3) {
        padding: 0 6em 0 18em;
    }

    .timeline-right>section:nth-of-type(3) h2 {
        font-size: 2.4em;
        color: white;
        padding: 0;
        margin: 0;
    }

    .timeline-right>section:nth-of-type(3) img:nth-of-type(1) {
        display: none;
    }

    .timeline-right>section:nth-of-type(3) img:nth-of-type(2) {
        width: 100%;
        height: auto;
        padding: 1.5em 0;
        display: inline;
    }

    .timeline-right>section:nth-of-type(3) p {
        font-size: 1em;
        color: white;
    }

    .timeline-right>section:nth-of-type(3) p:nth-of-type(1) {
        padding-top: .8em;
    }


    /* final product */

    .timeline-right>img:nth-of-type(1) {
        display: none;
    }
    
    .timeline-right>img:nth-of-type(2) {
        display: block;
        width: 100%;
        height: auto;
    }

    .timeline-right>section:nth-of-type(4) {
        padding: 0 6em 4em 18em;
    }

    .timeline-right>section:nth-of-type(4) h2 {
        font-size: 2.4em;
        color: white;
    }

    .timeline-right>section:nth-of-type(4) div {
        display: flex;
        gap: 3em;
    }

    .timeline-right>section:nth-of-type(4) div p {
        font-size: 1em;
        color: white;
        padding-top: .8em;
    }


    /* general */

    .line {
        display: block;
        border: none;
        height: 1.5px;
        background-color: var(--color-line);
        margin: 4em 6em 4em 18em;
    }

}