body {
    background-color: var(--color-background1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

main section>div:nth-of-type(1) {
    padding: 3em 1.5em 2em;
}

main section>div:nth-of-type(1) h1 {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: var(--color-htext2);
}

main section>div:nth-of-type(1) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: var(--color-broodtext);
    padding-top: 8px;
}

main section>ul {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 1.5em;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding: 0 1.5em;
}

main section>ul::-webkit-scrollbar {
    display: none;
    /* chrome */
}

main section>ul li {
    min-width: 80vw;
}

main section>ul li h2:nth-of-type(1) {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-alttext);
    padding-top: 20px;
}

main section>ul li h2:nth-of-type(2) {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-htext2);
    padding-top: 8px;
}

main section>ul li p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: var(--color-broodtext);
    padding-top: 8px;
}

main section>ul li a {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-htext2);
    border: solid;
    padding: .7em 0;
    display: block;
    text-align: center;
    margin-top: 1em;
}

main section>ul li img {
    width: 100%;
    display: block;
}


main section>ul li div {
    display: none;
}

/* nav */

main section nav>ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    justify-content: center;
    padding-top: 2em;
}

main section nav>ul li a {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    display: block;
    background-color: var(--color-background-radialbutton);
}


/*************************************************************
==========================desktop=============================
*************************************************************/


@media (min-width: 700px) {

        main section>div:nth-of-type(1) {
            padding: 1em 6em 2em;
        }

        main section>div:nth-of-type(1) h1 {
            font-size: clamp(1.6em, 4vw, 2.4em);
        }

        main section>div:nth-of-type(1) p {
            font-size: clamp(.3em, 1.3vw, 1em);
            max-width: 60%;
        }

        main section>ul {
            padding: 0 6em 3em 6em;
            gap: 4em;
        }

    main section>ul li {
        min-width: 45%;
        position: relative;
    }

    /* hover */

    main section>ul li div {
        display: none;
    }
    
    main section>ul li:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
        z-index: 1;
    }
    
    main section>ul li:hover div {
        display: flex;
        position: absolute;
        align-items: center;
        z-index: 2;
        top: 1.5em;
        left: 1.5em;
        gap: .5em;
    }
    
    main section>ul li:hover div img {
        height: 1.5vw;
        width: auto;
        display: block;
    }
    
    main section>ul li:hover div p {
        padding: 0;
        color: white;
        font-weight: 700;
        font-size: 1.5vw;
    }


    

    main section>ul li h2:nth-of-type(1) {
        font-size: clamp(.85em, 1.7vw, 1.2em);
    }

    main section>ul li h2:nth-of-type(2) {
        font-size: clamp(.85em, 1.7vw, 1.2em);
    }

    main section>ul li p {
        font-size: clamp(.3em, 1.3vw, 1em);
    }

    main section>ul li a {
        font-size: clamp(.3em, 1.3vw, 1em);
    }

    /* nav */

    main section nav>ul {
        display: none;
    }

}


/*************************************************************
==========================BIGGER=============================
*************************************************************/

@media (min-width: 1650px) {

    main section div:nth-of-type(1) {
        padding: 1em 13em 2em;
    }

    main section>ul {
        padding: 0 13em 3em 13em;
        gap: 4em;
    }

    main section>ul li {
        min-width: 45%;
    }

}