main {
    background-color: var(--color-background2);
}

main>img:nth-of-type(1) {
    width: 100%;
    height: auto;
    margin-top: -70px;
    display: block;
}

main>img:nth-of-type(2) {
    display: none;
}

main>img:nth-of-type(3) {
    display: none;
}

.con {
    position: relative;
}

.float {
    position: absolute;
    width: 100%;
    top: -12em;
    padding: 1.5em;
}

.float>section {
    background-color: var(--color-background1);
    padding: 1.5em 1.5em 3em;
}

.float>section h1 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: var(--color-alttext);
}

.float>section div {
    gap: 3em;
}

.float>section div section h3 {
    font-family: "century-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .85em;
    color: var(--color-htext2);
    padding: 1.5em 0 .5em;
}

.float>section div section p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: var(--color-broodtext);
}


/* STRUCTURE */

.con>section:nth-of-type(1) {
    background-color: var(--color-background-tonik);
    padding: 24em 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con>section:nth-of-type(1) div:nth-of-type(1) {
    flex-direction: column;
    display: flex;
}

.con>section:nth-of-type(1) div:nth-of-type(1) h2 {
    color: white;
}

.con>section:nth-of-type(1) div:nth-of-type(1) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.con>section:nth-of-type(1) div:nth-of-type(2) {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 100%;
    margin: 2em 0 3em 0;
}

.con>section:nth-of-type(1) div:nth-of-type(2) video {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: .5em;
}


/* SEMANTICS */

.timeline-right>section:nth-of-type(1) {
    padding: 4em 1.5em 2em;
}

.timeline-right>section:nth-of-type(1) h2 {
    color: white;
}

.timeline-right>section:nth-of-type(1) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.timeline-right>section:nth-of-type(1) video:nth-of-type(1) {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}

.timeline-right>section:nth-of-type(1) video:nth-of-type(2) {
    display: none;
}


/* ACCESSIBILITY */

.timeline-right>section:nth-of-type(2) {
    padding: 2em 1.5em 2em;
}

.timeline-right>section:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.timeline-right>section:nth-of-type(2) div h2 {
    color: white;
}

.timeline-right>section:nth-of-type(2) div p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.timeline-right>section:nth-of-type(2) video {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}


/* RESPONSIVENESS */

.timeline-right>section:nth-of-type(3) {
    padding: 4em 1.5em 2em;
}

.timeline-right>section:nth-of-type(3) h2 {
    color: white;
}

.timeline-right>section:nth-of-type(3) p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
}

.timeline-right>section:nth-of-type(3) video {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}


/* ANIMATION */

.timeline-right>section:nth-of-type(4) {
    padding: 2em 1.5em 2em;
}

.timeline-right>section:nth-of-type(4) div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.timeline-right>section:nth-of-type(4) div h2 {
    color: white;
}

.timeline-right>section:nth-of-type(4) div p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.timeline-right>section:nth-of-type(4) video {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}


/* QUIRCKS */

.timeline-right>section:nth-of-type(5) {
    padding: 2em 1.5em 2em;
}

.timeline-right>section:nth-of-type(5) div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.timeline-right>section:nth-of-type(5) div h2 {
    color: white;
}

.timeline-right>section:nth-of-type(5) div p {
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
    padding: .5em 0 0;
}

.timeline-right>section:nth-of-type(5) video {
    width: 100%;
    display: block;
    margin-top: 1em;
    border-radius: .5em;
}


/* TONIK MOCKUP */

main>div:nth-of-type(2) {
    margin-top: 3em;
    position: relative;
}

main>div:nth-of-type(2) img {
    width: 100%;
    height: auto;
    display: block;
}

main>div:nth-of-type(2) a {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .7em 3em .7em 1.6em;
    border: solid 1.5px white;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    color: white;
}

main>div:nth-of-type(2) a:after {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../images/general/Asset-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    right: 1em;
    top: 50%;
    transform: translate(-50%, -40%);
}


/* GENERAL */

.line {
    display: none;
}

.timeline-left {
    display: none;
}


/*************************************************************
==========================desktop=============================
*************************************************************/


@media (min-width: 700px) {

    .timeline {
        position: relative;
    }

    .timeline-left {
        position: absolute;
        height: 91.5%;
        top: 0;
        border-left: 3px solid transparent;
        border-image: repeating-linear-gradient(to bottom,
                white 0,
                white 5px,
                transparent 3px,
                transparent 12px) 1;
        margin: 17.8em 0 0 6em;
        display: block;
    }

    .research {
        /* height: 91.5em; */
        height: 48.5%;
        text-align: center;
    }


    .me-fi {
        /* height: 47.5em; */
        height: 39.5%;
        text-align: center;
    }

    .hi-fi {
        /* height: 48em; */
        height: 12%;
        text-align: center;
    }

    .timeline-left div>div {
        position: sticky;
        top: 6em;
    }

    .timeline-left div>div p {
        font-family: "century-gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        border: solid 3px white;
        padding: 1em 1.5em;
        color: white;
        margin-left: -3px;
    }



    /* float */

    main>img:nth-of-type(1) {
        display: none;
    }

    main>img:nth-of-type(2) {
        width: 100%;
        height: auto;
        margin-top: -90px;
        display: block;
    }

    main>img:nth-of-type(3) {
        display: none;
    }

    .float {
        position: absolute;
        min-width: 100%;
        padding: 6em;
        top: -19em;
    }

    .float>section {
        padding: 3vw 6vw 6vw;
    }

    .float>section div {
        display: flex;
    }

    .float>section h1 {
        font-size: clamp(.7em, 1vw, 1.8em);
    }

    .float>section h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
    }

    .float>section div section h3 {
        font-size: clamp(.85em, 1.2vw, 2em);
    }

    .float>section div section p {
        font-size: clamp(.7em, 1vw, 1.8em);
    }


    /* structure */

    .con>section:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        padding: 18em 6em 0 18em;
        gap: 2em;
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) {
        max-width: 50%;
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) p {
        font-size: clamp(.7em, 1vw, 1.8em);
    }

    .con>section:nth-of-type(1) div:nth-of-type(1) p:nth-of-type(2) {
        padding-bottom: 2em;
    }


    /* semantics */

    .timeline-right>section:nth-of-type(1) {
        padding: 4em 6em 0 18em;
        display: flex;
        flex-direction: column;
    }

    .timeline-right>section:nth-of-type(1) h2 {
        color: white;
        font-size: clamp(1.6em, 2.4vw, 3.5em);
    }

    .timeline-right>section:nth-of-type(1) div {
        display: flex;
        gap: 2em;
    }

    .timeline-right>section:nth-of-type(1) div p {
        font-family: "century-gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(.7em, 1vw, 1.8em);
        color: white;
        padding: .5em 0 0;
    }

    .timeline-right>section:nth-of-type(1) video:nth-of-type(1) {
        display: none;
    }

    .timeline-right>section:nth-of-type(1) video:nth-of-type(2) {
        width: 100%;
        display: block;
        border-radius: .5em;
        margin-top: 2em;
    }


    /* accessibility */

    .timeline-right>section:nth-of-type(2) {
        padding: 6em 6em 0 18em;
        display: flex;
        gap: 2em;
    }

    .timeline-right>section:nth-of-type(2) div {
        width: 50%;
    }

    .timeline-right>section:nth-of-type(2) div h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
        color: white;
    }

    .timeline-right>section:nth-of-type(2) div p {
        font-size: clamp(.7em, 1vw, 1.8em);
        color: white;
    }

    .timeline-right>section:nth-of-type(2) video {
        width: 50%;
        margin: 0;
    }


    /* responsiveness */

    .timeline-right>section:nth-of-type(3) {
        padding: 0 6em 0 18em;
    }

    .timeline-right>section:nth-of-type(3) h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
        color: white;
        padding: 0;
        margin: 0;
    }

    .timeline-right>section:nth-of-type(3) div {
        display: flex;
        gap: 2em;
    }

    .timeline-right>section:nth-of-type(3) div p {
        font-size: clamp(.7em, 1vw, 1.8em);
        color: white;
        padding-top: .5em;
    }

    .timeline-right>section:nth-of-type(3) video {
        margin-top: 2em;
    }


    /* animation */

    .timeline-right>section:nth-of-type(4) {
        padding: 6em 6em 0 18em;
        display: flex;
        gap: 2em;
    }

    .timeline-right>section:nth-of-type(4) div {
        width: 50%;
    }

    .timeline-right>section:nth-of-type(4) div h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
        color: white;
    }

    .timeline-right>section:nth-of-type(4) div p {
        font-size: clamp(.7em, 1vw, 1.8em);
        color: white;
    }

    .timeline-right>section:nth-of-type(4) video {
        width: 50%;
        margin: 0;
    }


    /* quricks */

    .timeline-right>section:nth-of-type(5) {
        padding: 0 6em 0 18em;
        display: flex;
        gap: 2em;
    }

    .timeline-right>section:nth-of-type(5) div {
        width: 50%;
    }

    .timeline-right>section:nth-of-type(5) div h2 {
        font-size: clamp(1.6em, 2.4vw, 3.5em);
        color: white;
    }

    .timeline-right>section:nth-of-type(5) div p {
        font-size: clamp(.7em, 1vw, 1.8em);
        color: white;
    }

    .timeline-right>section:nth-of-type(5) video {
        width: 50%;
        margin: 0;
        order: -1;
    }


    /* mockups */

    main>div:nth-of-type(2) {
        margin-top: 6em;
    }

    main>div:nth-of-type(2) a {
        bottom: 25%;
        border: solid 2px white;
        font-size: clamp(.85em, 1.2vw, 2em);
    }

    main>div:nth-of-type(2) a:after {
        width: 13px;
        height: 13px;
    }


    /* general */

    .line {
        display: block;
        border: none;
        height: 1.5px;
        background-color: var(--color-line);
        margin: 4em 6em 4em 18em;
    }

}





/*************************************************************
==========================BIGGER=============================
*************************************************************/

@media (min-width: 1650px) {

    .timeline-left {
        height: 91.5%;
        margin: 24em 0 0 13em;
    }

    .research {
        /* height: 91.5em; */
        height: 47%;
    }


    .me-fi {
        /* height: 47.5em; */
        height: 39.3%;
    }

    .hi-fi {
        /* height: 48em; */
        height: 13.7%;
    }


    /* banner */

    main>img:nth-of-type(1) {
        display: none;
    }

    main>img:nth-of-type(2) {
        display: none;
    }

    main>img:nth-of-type(3) {
        width: 100%;
        height: auto;
        margin-top: -110px;
        display: block;
    }


    /* float */

    .float {
        padding: 6em 13em;
        top: -19em;
    }


    /* structure */

    .con>section:nth-of-type(1) {
        padding: 22em 13em 0 25em;
        gap: 3em;
    }



    /* semantics */

    .timeline-right>section:nth-of-type(1) {
        padding: 4em 13em 0 25em;
    }

    .timeline-right>section:nth-of-type(1) div {
        gap: 3em;
    }


    /* accessibility */

    .timeline-right>section:nth-of-type(2) {
        padding: 6em 13em 0 25em;
        gap: 3em;
    }


    /* responsiveness */

    .timeline-right>section:nth-of-type(3) {
        padding: 0 13em 0 25em;
    }

    .timeline-right>section:nth-of-type(3) div {
        gap: 3em;
    }


    /* animation */

    .timeline-right>section:nth-of-type(4) {
        padding: 6em 13em 0 25em;
        gap: 3em;
    }


    /* quircks */

    .timeline-right>section:nth-of-type(5) {
        padding: 0 13em 0 25em;
        gap: 3em;
    }


    /* mockups */

    main>div:nth-of-type(2) {
        margin-top: 6em;
    }


    /* general */

    .line {
        margin: 4em 13em 4em 25em;
    }
}